@use '../utils/colors';

.addModalDisplay {
  display: flex;
  flex-direction: column;
}

.addModalDisplay h1 {
  color: colors.$soft-white;
}

.addNetworkButton {
  background-color: colors.$secondary;
  padding: 5px;
  color: colors.$soft-white;
}

button {
  border: none;
  background-color: transparent;
  color: colors.$soft-white;
  padding-bottom: 8px;
  cursor: pointer;
}

button:hover {
  background-color: colors.$secondary;
}
