.container-tool-bar {
  width: 100%;
}

.tool-bar-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.view-buttons {
  display: flex;
  width: 6rem;
  justify-content: space-between;
}

.connect-container-display-button {
  width: 7.1rem;
}

.network-info {
  width: 20rem;
  margin: 0 auto;
  text-align: center;
}

.network-name {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.driver {
  font-size: 0.8rem;
}
