/* 
container holding network information
starts from row 2, column 2 and fills remaining space
*/
.default-display {
  // grid-column: 2 / 4;
  // grid-row: 2;
  // border: 1px solid darkblue;
  /* height: 100vw; */
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  height: 25rem;
}

p {
  font-size: 30px;
}
