.deleteModalOverlay {
  position: fixed;
  background-color: rgba(1, 1, 1, 0.3);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.deleteModalDisplay {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.deleteModalDisplay h1 {
  border: none;
  //   color: blue;
  font-size: 15px;
}
