@use '../utils/colors.scss';

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  align-items: center;
  background-color: colors.$secondary;
  box-shadow: 6px 6px 12px #d3d3d3, -6px -6px 12px #ededed;
}

.header-button {
  background: none;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.menuIcon {
  width: 35px;
  height: 3px;
  background-color: #f2f4f3;
  margin: 6px;
}

.header-title {
  margin-right: 2rem;
  color: colors.$soft-white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  height: 2rem;
  margin-right: 3px;
}
