$headerColor: #8161d2;
/* 
header stretches across whole page heading
*/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  align-items: center;
  outline: 1px solid $headerColor;
  background-color: $headerColor;
}

.header-button {
  background: none;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.menuIcon {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px;
}

.header-title {
  margin-right: 2rem;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  height: 2rem;
  margin-right: 3px;
}
