/* 
header stretches across whole page heading
*/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  align-items: center;
  outline: 1px solid black;
}

.header-item {
  margin: 0 2rem;
}
