/* 
container holding network information
starts from row 2, column 2 and fills remaining space
*/
.home {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.anchor-logo {
  width: 2.3rem;
  height: 2.3rem;
}

p {
  font-size: 30px;
}
