$backgroundColor: #0c0227;
$backgroundColorHover: #19044e;
$textColor: #f2f4f3;
$textColorHover: #e9eceb;

/* 
side navigation bar
position in first column on left-most side of page
begins after header row
*/
.side-nav {
  display: none;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  background-color: $backgroundColor;
  width: 20rem;
  justify-content: space-between;
}

.networkDisplay {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 3vh;
  background-color: $backgroundColor;
}

.networkDisplay:hover {
  background-color: $backgroundColorHover;
}

.networkDisplay:hover .networkLink {
  color: $textColorHover;
}

.networkLink {
  color: $textColor;
  text-decoration: none;
}
