/* 
add background color to full page
*/
html {
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Raleway', sans-serif;
}
